* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e272e;
}
.container {
  padding: 5px;
  width: 500px;
  margin: 100px auto;
  height: auto;
  background-color: #d2dae2;
}
.sort-list {
  height: auto;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: silver;
  height: 50px;
}
.header b {
  cursor: pointer;
}
.list {
  width: 100%;
}
.item {
  position: relative;
  height: 50px;
  width: 100%;
  border: 1px solid red;
  text-align: center;
  padding: 10px;
}
